APP_NAME="Phatsema Portal"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://phatsema.valosystems.co.za
APP_VERSION=1.0.0
DEMO_FIXTURE_VERSION=1.4.0

LOG_CHANNEL=stack
LOG_STACK=single
LOG_LEVEL=warning

DB_CONNECTION=null
CACHE_STORE=file
QUEUE_CONNECTION=sync

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=true
SESSION_PATH=/
SESSION_DOMAIN=null
SESSION_SECURE_COOKIE=true
SESSION_HTTP_ONLY=true
SESSION_SAME_SITE=lax
